body{
    background-color: white;
}

.pic{
    font-size: 30px;
    /* border: 2px solid blue; */
    border-radius: 5px;
    width: 300px;
    height: 350px;
    text-align: center;   
 
}
/* .container{
    border: 2px solid blue;
    height: 650px;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */


button{
    width: 100px;
    height: 50px;    
    background-color: brown;
}
button:hover{
    background-color: gray;
}
.pic:hover{
    /* border: 5px solid; */
    transform: scale3d(1);
    box-shadow: 10px 10px;
}

.pic img{
    width: 100%;
    height: 100%;
}