.header-wrapper{
  display: flex;
  justify-content: space-around;
  height: 150px;
  width: auto;
  margin: auto;
  background-color: brown;
}
.logo{
  font-size: 40px;
  font-weight: bold;
  color: black;
  padding-top: 40px;
}
.navig{
  font-size: 30px;
  padding-top: 50px;
}
a{
  color: black;
  font-style: italic;
}
a:hover{
  color: blue;
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 620px;
}